{% extends 'myapp/base.html' %} {% block content %}

<section class="vh-100" style="background-color: #828f8f;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://img.freepik.com/free-vector/sign-concept-illustration_114360-5267.jpg?t=st=1712655904~exp=1712659504~hmac=9a6dd1e52a4f9af3b69e954d4eabbdacdc42785bbaa8b3c4e3df825399b4cccd&w=740"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="card-body">
                        <div class="container-fluid">
                            <form action="{% url 'signin' %}" method="post" id="signin-form">
                                {% csrf_token %}
                                <div class="d-flex align-items-center mb-3 pb-1">
                                  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                  <span class="h1 fw-bold mb-0">Rahul Booking</span>
                                </div>
              
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
              
                                <div class="mb-3">
                                    <label for="username" class="control-label">Username:</label>
                                    <input name='name' class="form-control rounded-0" type="text" id="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="example-email-input" class="control-label">Password:</label>
                                    <input name='password' class="form-control rounded-0" type="password" required>
                                </div>
    
                            </form>
                            <p>{{error}}</p>
                        </div>
                    </div>
                    <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" form="signin-form">Login</button>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}